In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
ds = pd.read_csv(r'D:\Datasets\blackfriday\train.csv')

In [3]:
ds.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [4]:
#ds['Age'].value_counts().isnull()

In [5]:
#ds['Product_Category_2'].value_counts().isnull()

In [6]:
ds.apply(lambda x: sum(x.isnull()),axis=0)

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [7]:
#ds['Product_Category_2'].fillna(ds['Product_Category_2'].mean())
ds['Product_Category_2'].fillna(0)
ds['Product_Category_3'].fillna(0)
ds['Product_Category_3'].isnull().value_counts()

True     383247
False    166821
Name: Product_Category_3, dtype: int64

In [8]:
ds

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,P00375436,F,36-45,1,C,2,1,20,NaN,NaN,596
550039,1005996,P00371644,F,26-35,0,B,1,1,20,NaN,NaN,595
550040,1005997,P00370853,F,26-35,7,A,3,0,19,NaN,NaN,26
550041,1006000,P00371644,M,46-50,17,B,2,1,20,NaN,NaN,488
550042,1006002,P00371644,M,51-55,0,C,1,1,20,NaN,NaN,243
550043,1006003,P00370293,F,46-50,17,C,1,0,19,NaN,NaN,48
550044,1006004,P00370853,F,26-35,15,C,2,0,19,NaN,NaN,62
550045,1006005,P00371644,F,26-35,5,C,2,1,20,NaN,NaN,252
550046,1006006,P00375436,F,0-17,0,C,1,0,20,NaN,NaN,236
550047,1006009,P00372445,F,26-35,12,C,3,0,20,NaN,NaN,244
550048,1006010,P00371644,M,36-45,0,C,1,0,20,NaN,NaN,591
550049,1006011,P00375436,M,36-45,15,C,3,0,20,NaN,NaN,473
550050,1006012,P00371644,M,36-45,15,C,4+,1,20,NaN,NaN,368
550051,1006013,P00375436,F,26-35,20,C,3,0,20,NaN,NaN,489
550052,1006016,P00375436,M,46-50,1,B,1,1,20,NaN,NaN,239
550053,1006017,P00371644,F,36-45,7,B,1,0,20,NaN,NaN,371
550054,1006018,P00370293,M,36-45,1,C,3,0,19,NaN,NaN,60
550055,1006019,P00372445,M,26-35,0,A,4+,0,20,NaN,NaN,238
550056,1006022,P00375436,M,26-35,17,C,4+,0,20,NaN,NaN,254
550057,1006023,P00370853,M,26-35,0,C,2,1,19,NaN,NaN,61
550058,1006024,P00372445,M,26-35,12,A,0,1,20,NaN,NaN,121
550059,1006025,P00370853,F,26-35,1,B,1,0,19,NaN,NaN,48
550060,1006026,P00371644,M,36-45,6,C,1,1,20,NaN,NaN,494
550061,1006029,P00372445,F,26-35,1,C,1,1,20,NaN,NaN,599
550062,1006032,P00372445,M,46-50,7,A,3,0,20,NaN,NaN,473
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [10]:
x = ds[['Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status','Product_Category_1','Product_Category_2','Product_Category_3']]
y= ds[['Purchase']]

# Encoding

In [11]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [12]:
x= x.apply(le.fit_transform)

In [13]:
x.Gender= pd.to_numeric(x.Gender)
x.Age= pd.to_numeric(x.Age)
x.Occupation= pd.to_numeric(x.Occupation)
x.City_Category= pd.to_numeric(x.City_Category)
x.Stay_In_Current_City_Years= pd.to_numeric(x.Stay_In_Current_City_Years)
x.Marital_Status= pd.to_numeric(x.Marital_Status)
x.Product_Category_1= pd.to_numeric(x.Product_Category_1)
x.Product_Category_2= pd.to_numeric(x.Product_Category_2)
x.Product_Category_3= pd.to_numeric(x.Product_Category_3)

# Splitting data

In [14]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3)

In [31]:
print(x_train.shape)
print(y.shape)

(385047, 9)
(550068, 1)

In [15]:
reg= LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
print(reg.intercept_)
print(reg.coef_)

[10544.99219971]
[[ 4.88984404e+02  1.19238411e+02  6.20493993e+00  3.29196690e+02
   1.12846803e+01 -4.84165546e+01 -3.80698601e+02 -4.17106470e-03
  -4.10760014e-03]]

In [17]:
y_predict = reg.predict(x_test)

In [18]:
y_predict

array([[ 8675.96229755],
       [11642.73495112],
       [12345.6212452 ],
       ...,
       [10721.05784131],
       [ 7642.59897168],
       [ 9889.66408492]])

In [19]:
df= pd.DataFrame({'Actual':[y_test],'Predicted':[y_predict]})
df

,Actual,Predicted
0,Purchase 215746 3736 317654 1...,"[[8675.96229754698], [11642.734951124532], [12..."

In [20]:
print('MAE', metrics.mean_absolute_error(y_test,y_predict))
print('MSE', metrics.mean_squared_error(y_test,y_predict))
print('RMSE', np.sqrt(metrics.mean_squared_error(y_test,y_predict)))
model_r2= reg.score(x_train,y_train)
print('r2 score:',model_r2)

MAE 3565.7054832441368
MSE 21694129.013253458
RMSE 4657.695676324663
r2 score: 0.1372167758662315

# Decision Tree

In [21]:
from sklearn.tree import DecisionTreeRegressor

In [22]:
regr1= DecisionTreeRegressor()
dt_regr1= regr1.fit(x_train,y_train)
y_predict1= regr1.predict(x_test)
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,y_predict1)))

RMSE 3835.756005346212

# Gradient Boosting

In [23]:
from sklearn.ensemble import GradientBoostingRegressor
regr2= GradientBoostingRegressor()
gbregr= regr2.fit(x_train,y_train)
y_predict2= regr2.predict(x_test)
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,y_predict2)))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RMSE 2984.1422808435655

In [24]:
print("Accuracy Score of Gradient Boosting on testset",gbregr.score(x_test,y_test)*100)

Accuracy Score of Gradient Boosting on testset 64.71141326036445

# XGBoost

In [57]:
import xgboost as xgb
from sklearn import metrics
xg_reg = xgb.XGBRegressor(objective ='reg:linear',colsample_bytree = 0.3, learning_rate = 0.1, max_depth = 6, nfold=10,
                          alpha = 10, n_estimators = 10)
xg_reg.fit(x_train,y_train)
preds = xg_reg.predict(x_test)
rmse = np.sqrt(metrics.mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

[17:26:56] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE: 5333.576783

In [32]:
import keras
from keras.models import Sequential
from keras.layers import Dense

model= Sequential()
n_cols= x_train

model.add(Dense(5,activation='relu',input_shape=(n_cols,)))
model.add(Dense(5,activation='relu'))
model.add(Dense(1))

model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mean_absolute_error'])
model.fit(x_train,y)
model.summary()

prediction= model.predict(test_data)

TypeError: Error converting shape to a TensorShape: int() argument must be a string, a bytes-like object or a number, not 'DataFrame'.

# With Standardizing

In [ ]:
from sklearn.preprocessing import StandardScaler
ss= StandardScaler()
x_s= ss.fit_transform(x)

In [ ]:
x_s_train,x_s_test,ys_train,ys_test= train_test_split(x_s,y,test_size=0.3)

In [ ]:
regr3= GradientBoostingRegressor()
gbregr1= regr3.fit(x_s_train,ys_train)
y_predict2= regr3.predict(x_s_test)
print('RMSE',np.sqrt(metrics.mean_squared_error(ys_test,y_predict2)))

In [ ]:
from sklearn.svm import SVR
clf = SVR(gamma='scale', C=1.0, epsilon=0.2)
clf.fit(x_s_train,ys_train)
y_pred_svm= clf.predict(x_s_test)
print('RMSE',np.sqrt(metrics.mean_squared_error(ys_test,y_pred_svm)))

# Test DataSet

In [ ]:
testds= pd.read_csv(r'D:\Datasets\blackfriday\test.csv')

In [ ]:
x1 = testds[['Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status','Product_Category_1','Product_Category_2','Product_Category_3']]
x1.shape

In [ ]:
le1= LabelEncoder()

In [ ]:
x1= x1.apply(le.fit_transform)

In [ ]:
x1.Gender= pd.to_numeric(x1.Gender)
x1.Age= pd.to_numeric(x1.Age)
x1.Occupation= pd.to_numeric(x1.Occupation)
x1.City_Category= pd.to_numeric(x1.City_Category)
x1.Stay_In_Current_City_Years= pd.to_numeric(x1.Stay_In_Current_City_Years)
x1.Marital_Status= pd.to_numeric(x1.Marital_Status)
x1.Product_Category_1= pd.to_numeric(x1.Product_Category_1)
x1.Product_Category_2= pd.to_numeric(x1.Product_Category_2)
x1.Product_Category_3= pd.to_numeric(x1.Product_Category_3)

In [ ]:
#regr_test= GradientBoostingRegressor()
gbregr= regr2.predict(x1)
#y_predict_test= regr_test.predict(x1)
#print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,y_predict_test)))
np.mean(gbregr)

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
regr_ada = AdaBoostRegressor(random_state=0, n_estimators=100)
ada=regr_ada.fit(x_train,y_train)
y_predict_test_ada = regr_ada.predict(x_test)
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test,y_predict_test_ada)))

In [ ]:
x1.shape

In [ ]:
pred = regr_ada.predict(x_train)

In [ ]:
print(pred)
np.mean(pred)

In [ ]:
type(pred)
np.shape(pred)
predicted= pd.DataFrame

In [ ]:
Purchase_pred = pd.DataFrame(gbregr,columns=['Purchase'])
submission = pd.concat([testds.iloc[:,0:2],Purchase_pred],axis=1)
gradient_boosting = submission.to_csv("D:\\Datasets\\blackfriday\\gra_bos.csv",index=None,header=True)